In [12]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [13]:
# Get CSV file
zoo = pd.read_csv(os.path.join('Resources', 'zoo.csv'))
zoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type,class
0,Aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,Mammal
1,Adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3,Reptile
2,Alcatrazes Tree Frog,0,0,1,0,0,1,0,0,1,1,0,0,4,0,0,0,5,Amphibian
3,Alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3,Reptile
4,Amazon River Dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,0,1,Mammal

In [14]:
# Assign X and y
X = zoo.drop(["class_type","class"], axis=1)
y = zoo["class_type"]
print (X.shape, y.shape)

(212, 17) (212,)

In [15]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Scaling - do we need this?
from sklearn.preprocessing import StandardScaler

X_scaler - StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)